.navbar {
   width: 100%;
   height: 100px;
   margin: 0%;
   background-color: #dae5de;
   text-align: center;
   vertical-align: top;
}

.navbar a:hover{
    background-color: #b2afaf;
    text-decoration-color: #ecfaf1;
}

.navButton{
    width: 20%;
    height: 40px;
    background-color: #d7d7d7;
    align-content: center;
}

body{
    background-color: #d7d7d7;
    align-content: center;
    text-align: center;
    align-content: center;
}

a{
    margin: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 35px;
}

p{
    font-size: 18px;
}

.aboutMeText{
    text-align: center;
    padding: 5%;
}
